<form ng-show='o.show' ng-animate='{show:"fade-show"}' class='{{o.formClass}}'>
	<button ng-show='o.close' class='btn btn-xs btn-default pull-right' ng-click='o.show=0'>Close</button>
	<h4 ng-bind='o.title'></h4>
	<fieldset>
		<div class='form-group' ng-repeat='i in o.inputs'>
			<label>
				<small ng-bind='i.label'></small>
			</label>
			<input ng-keyup='o.filter()' type='{{i.type}}' class='form-control' placeholder="{{i.placeholder}}" ng-model='o.data[o.dataType][i.model]'>
		</div>
		<div class='form-group' ng-repeat='s in o.selects'>
			<label><small ng-bind='s.label'></small></label>
			<select2 model='o.data[o.dataType][s.model]' options='s.options' class='form-control'></select2>
		</div>
		<div class='form-group' ng-repeat='t in o.tinymces'>
			<label>
				<small ng-bind='t.label'></small>
			</label>
			<textarea ui-tinymce ng-model='o.data[o.dataType][t.model]'></textarea>
		</div>
	</fieldset>
	<p><button class='btn btn-primary btn-block' ng-disabled='o.disabled' ng-bind='o.button' ng-click='o.showMore=1;o.data.skip=0;o.fn(o)'></button></p>
	<p  ng-show='o.showStatus' ng-animate='{show:"fade-show"}' class='{{o.statusClass}}' ng-bind='o.status'></p>
</form>